{%- macro format_content(content) -%}
    {%- for item in content -%}
        {%- if item['type'] == 'text' -%}
            {{- item['text'] -}}
        {%- elif item['type'] == 'tool_response' -%}
            {%- if item['response'] is mapping or item['response'] is sequence -%}
                {{- item['response'] | tojson -}}
            {%- else -%}
                {{- item['response'] | string -}}
            {%- endif -%}
        {%- endif -%}
    {%- endfor -%}
{%- endmacro -%}

{%- set is_first_system = messages[0]['role'] == 'system' -%}
{%- set loop_messages = messages[1:] if is_first_system else messages -%}
{#- Handle System/Tool Definitions Block -#}
{%- if tools or is_first_system -%}
    {{- '<|im_start|>system\n' -}}

    {%- if tools -%}
        {{- "# Tools\n\nYou have access to the following functions:\n\n<tools>" -}}
        {%- for tool in tools -%}
            {{- '\n' + tool | tojson -}}
        {%- endfor -%}
        {{- "\n</tools>\n\nIf you choose to call a function ONLY reply in the following format with NO suffix:\n\n<tool_call>\n<function=example_function_name>\n<parameter=example_parameter_1>\nvalue_1\n</parameter>\n<parameter=example_parameter_2>\nThis is the value for the second parameter\nthat can span\nmultiple lines\n</parameter>\n</function>\n</tool_call>\n\n<IMPORTANT>\nReminder:\n- Function calls MUST follow the specified format: an inner <function=...></function> block must be nested within <tool_call></tool_call> XML tags\n- Required parameters MUST be specified\n- You may provide optional reasoning for your function call in natural language BEFORE the function call, but NOT after\n- If there is no function call available, answer the question like normal with your current knowledge and do not tell the user about function calls\n</IMPORTANT>" -}}
        {%- if is_first_system -%}
            {{- '\n\n' + format_content(messages[0]['content']) -}}
        {%- endif -%}
    {%- elif is_first_system -%}
        {{- format_content(messages[0]['content']) -}}
    {%- endif -%}

    {{- '<|im_end|>\n' -}}
{%- endif -%}

{%- for message in loop_messages -%}
    {%- set content = format_content(message['content']) -%}
    {%- if message['role'] == 'user' or message['role'] == 'system' -%}
        {{- '<|im_start|>' + message['role'] + '\n' + content + '<|im_end|>\n' -}}
    {%- elif message['role'] == 'assistant' -%}
        {{- '<|im_start|>' + message['role'] + '\n' + content -}}
        {%- if message['tool_calls'] -%}
            {%- for tool_call in message['tool_calls'] -%}
                {%- if content or not loop.first -%}
                    {{- '\n' -}}
                {%- endif -%}
                {%- set function = tool_call['function'] if 'function' in tool_call else tool_call -%}
                {{- '<tool_call>\n<function=' + function['name'] + '>\n' -}}
                {%- if function['arguments'] is mapping -%}
                    {%- for name, value in function['arguments'] | items -%}
                        {%- set val_str = value | tojson if value is mapping or (value is sequence and value is not string) else value | string -%}
                        {{- '<parameter=' + name + '>\n' + val_str + '\n</parameter>\n' -}}
                    {%- endfor -%}
                {%- endif -%}
                {{- '</function>\n</tool_call>' -}}
            {%- endfor -%}
        {%- endif -%}
        {{- '<|im_end|>\n' -}}
    {%- elif message['role'] == 'tool' -%}
        {%- if loop.first or loop_messages[loop.index0 - 1]['role'] != 'tool' -%}
            {{- '<|im_start|>user' -}}
        {%- endif -%}
        {{- '\n<tool_response>\n' + content + '\n</tool_response>' -}}
        {%- if loop.last or loop_messages[loop.index0 + 1]['role'] != 'tool' -%}
            {{- '<|im_end|>\n' -}}
        {%- endif -%}
    {%- endif -%}
{%- endfor -%}

{%- if add_generation_prompt -%}
    {{- '<|im_start|>assistant\n' -}}
    {%- if enable_thinking | default(true) -%}
        {{- '<think>\n' -}}
    {%- else -%}
        {{- '<think>\n\n</think>\n\n' -}}
    {%- endif -%}
{%- endif -%}
