{%- macro format_content(content) -%}
    {%- for item in content -%}
        {%- if item['type'] == 'text' -%}
            {{- item['text'] -}}
        {%- elif item['type'] == 'tool_response' -%}
            {%- if item['response'] is mapping or item['response'] is sequence -%}
                {{- item['response'] | tojson -}}
            {%- else -%}
                {{- item['response'] | string -}}
            {%- endif -%}
        {%- endif -%}
    {%- endfor -%}
{%- endmacro -%}

{%- macro format_tool_content(content) -%}
    {%- set resp_ns = namespace(items=[]) -%}
    {%- for item in content -%}
        {%- set formatted = format_content([item]) -%}
        {%- if formatted -%}
            {%- set resp_ns.items = resp_ns.items + [formatted] -%}
        {%- endif -%}
    {%- endfor -%}
    {%- set joined = resp_ns.items | join(', ') | trim -%}
    {%- if joined.startswith('[') and joined.endswith(']') -%}
        {{- joined -}}
    {%- else -%}
        {{- '[' + joined + ']' -}}
    {%- endif -%}
{%- endmacro -%}


{%- macro render_tool_calls(tool_calls) -%}
    {%- set tool_calls_ns = namespace(tool_calls=[]) -%}
    {%- for tool_call in tool_calls -%}
        {%- set func = tool_call['function'] if 'function' in tool_call else tool_call -%}
        {%- set func_name = func['name'] -%}
        {%- set func_args = func['arguments'] -%}
        {%- set args_ns = namespace(arg_strings=[]) -%}
        {%- if func_args is mapping -%}
            {%- for arg_name, arg_value in func_args | dictsort -%}
                {%- set args_ns.arg_strings = args_ns.arg_strings + [arg_name + '=' + (arg_value | tojson)] -%}
            {%- endfor -%}
        {%- endif -%}
        {%- set tool_calls_ns.tool_calls = tool_calls_ns.tool_calls + [func_name + '(' + (args_ns.arg_strings | join(', ')) + ')'] -%}
    {%- endfor -%}
    {{- '<|tool_call_start|>[' + (tool_calls_ns.tool_calls | join(', ')) + ']<|tool_call_end|>' -}}
{%- endmacro -%}

{{- bos_token -}}
{%- set is_first_system = messages[0]['role'] == 'system' -%}
{%- set loop_messages = messages[1:] if is_first_system else messages -%}
{%- set system_content = format_content(messages[0]['content']) if is_first_system and messages[0]['content'] else '' -%}
{%- if tools -%}
    {%- set tools_ns = namespace(tool_strings=[]) -%}
    {%- for tool in tools -%}
        {%- if tool is string -%}
            {%- set tools_ns.tool_strings = tools_ns.tool_strings + [tool] -%}
        {%- else -%}
            {%- set tools_ns.tool_strings = tools_ns.tool_strings + [tool | tojson] -%}
        {%- endif -%}
    {%- endfor -%}
    {%- set tools_block = 'List of tools: [' + (tools_ns.tool_strings | join(', ')) + ']' -%}
    {%- set system_content = (system_content + '\n' if system_content else '') + tools_block -%}
{%- endif -%}
{%- if system_content -%}
    {{- '<|im_start|>system\n' + system_content + '<|im_end|>\n' -}}
{%- endif -%}

{%- for message in loop_messages -%}
    {%- if message['role'] == 'assistant' -%}
        {{- '<|im_start|>assistant\n' -}}
        {%- if message['tool_calls'] -%}
            {{- render_tool_calls(message['tool_calls']) -}}
        {%- endif -%}
        {{- format_content(message['content']) -}}
        {{- '<|im_end|>\n' -}}
    {%- elif message['role'] == 'tool' -%}
        {{- '<|im_start|>tool\n' + format_tool_content(message['content']) + '<|im_end|>\n' -}}
    {%- else -%}
        {{- '<|im_start|>' + message['role'] + '\n' + format_content(message['content']) + '<|im_end|>\n' -}}
    {%- endif -%}
{%- endfor -%}

{%- if add_generation_prompt -%}
    {{- '<|im_start|>assistant\n' -}}
{%- endif -%}
